<script type="text/javascript"> 
  $(document).ready(function(){
    $(".headerarea").append("<h2>User Info</h2>");
  });
</script>

<div class="row">		  
	<div class="span6">
		<div class="well">
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
  <p>運営会社について</p>
      </div>
    </div>
