<script type="text/javascript"> 
  $(document).ready(function(){
    $(".headerarea").append("<h2>Following</h2>");
    appendtext(1);
    var num = 2;
    var loadingflag = 0;
    $(window).bottom({proximity: 0.01});
    $(window).bind("bottom", function(){
      if (loadingflag == 0){
      try{
          loadingflag=1;
          appendtext(num);
        } 
        catch(e){ alert(e); } 
        finally { num ++; }
        }
      });

  function editassist(){
    $(".newmemo").click(function(){
      setTimeout(function(){
        document.getElementById("input_note_area").focus();
      }, 0);
      var name = $(this).parent().parent().parent().find('.screen_name').text().slice(1);
      var img = $(this).parents().find('img').attr('src');
      var note = $(this).parent().parent().find('.memoarea').text();
      if (note == "メモがありません") {
        note = "";
      } 
      $("input#input_screen_name").val(name);
      $("#input_note_area").val(note);
      $("#twitter_icon").html($("<img/>",{ src: img , class:"service-profile-icon", style: "width:4em;height:4em;"}));
    });  
  }

  function appendtext(num){
    $("#getjson").append("<div class='loading' align='center'><img src='http://www.benricho.org/loading_images/img-popular/loading-20.gif'></div>");
    $.getJSON("api/following/"+ num, function(data){
      for(var i in data) {
        if (data[i].note){
          note = data[i].note;
        } else {
          note= "メモがありません";
        }
        $("#getjson").append(
          "<div class='well'>" +
            "<div style= 'float:left;'>" +
              "<a target='_blank' href='https://twitter.com/"+ data[i].screen_name +"'><img width='48px' height='48px' src='"+ data[i].profile_image_url + "'></a></div>" +
            "<div style= 'float:left; margin-left:1em;'>" +
              "<a target='_blank' href='https://twitter.com/"+ data[i].screen_name +"'>"+ "<strong class='screen_name'>@" + data[i].screen_name + "</a></strong><br/>" +
              "<strong>" + data[i].name + "</strong></div>" +
            "<div align='right'>" +
              "<span class='label'>Following</span><a target='_blank' href='https://twitter.com/"+ data[i].screen_name + "/following'><strong> "+ data[i].friends_count + "</strong></a>" +
              "<span class='label' style='margin-left :1em'>Followers</span><a target='_blank' href='https://twitter.com/"+ data[i].screen_name + "/followers'><strong> " + data[i].followers_count + "</strong></a></div>"+
            "<div style='clear:left;'>" +
              "<span class='label success'>Profile</span><br/><p style='style='word-break:break-all; margin-top: 5px;'>"+ data[i].description + "</p>"+
              "<span class='label warning'>Memo</span><br/><p style='word-break:break-all; margin-top:5px;' class='memoarea'>"+ note + "</p>"+
            "<div class='page-header' style='margin-top: -30px;'></div>" +
            "<div align='right' style='margin: -10px -5px -15px -10px;'>" +
              "<p class='btn primary newmemo' data-controls-modal='my-modal' data-backdrop='static'>Memo</p></div>" + "</div>"); }
      loadingflag=0;
      $('#getjson .loading').remove();
      editassist();
	 });
  }
}); 
</script> 

<div class="row">
  <div class="span9">
      <div id="getjson"></div>
  </div>
