<script type="text/javascript"> 
  $(document).ready(function(){
    $(".headerarea").append("<h2>Following</h2>");
    appendtext(1);
    var num = 2;
    var loadingflag = 0;
    $(window).bottom({proximity: 0.01});
    $(window).bind("bottom", function(){
      if (loadingflag == 0){
      try{
          loadingflag = 1;
          appendtext(num);
        } 
        catch(e){} 
        finally { num ++; }
      }
    });

  function escapehtml (val) {
    return $("<div/>").text(val).html();
  };

  function editassist(){
  $(".newmemo").click(function(){
      $('#my-modal').modal('show');
      var name = $(this).parent().parent().parent().find('.screen_name').text().slice(1);
      var img = $(this).parents().find('img').attr('src');
      var note = $(this).parent().parent().find('.memoarea').text();
      if (note == "メモがありません") {
        note = "";
      } 
      $("input#input_screen_name").val(name);
      $("#input_note_area").val(note);
      $("#input_note_area").caretPos("last"); 
      $("#twitter_icon").html($("<img/>",{ src: img , class:"service-profile-icon", style: "width:4em;height:4em;"}));
    });  
  }

  function appendtext(num){
    $("#getjson").append("<div class='loading' align='center'><img src='loading.gif'></div>");
    $.getJSON("api/following/"+ num, function(data){
      for(var i in data) {
        if (data[i].note){
          note = escapehtml(data[i].note).replace(/\r\n|\r|\n/g,'<br />');
        } else {
          note= "メモがありません";
        }
        $("#getjson").append(
          "<div class='well'>" +
            "<div style= 'float:left;'>" +
              "<a href='/user/"+ data[i].screen_name +"'><img width='48px' height='48px' src='"+ data[i].profile_image_url + "'></a></div>" +
            "<div style= 'float:left; margin-left:1em;'>" +
            "<a href='/user/"+ data[i].screen_name +"'>"+ "<strong class='screen_name'>@" + data[i].screen_name + "</a><a style='margin-left:3px;' target='blank' href='http://twitter.com/"+data[i].screen_name+"'><img src='twi_icon.png' width='13px' height='13px' class='opacity'></a></strong><br/>" +
              "<strong>" + data[i].name + "</strong></div>" +
            "<div align='right'>" +
              "<span class='label'>Following</span> <a target='_blank' href='https://twitter.com/"+ data[i].screen_name + "/following'><strong>"+ data[i].friends_count + "</strong></a>" +
              "<span class='label' style='margin-left :1em'>Followers</span> <a target='_blank' href='https://twitter.com/"+ data[i].screen_name + "/followers'><strong>" + data[i].followers_count + "</strong></a></div>"+
            "<div style='clear:left;'>" +
              "<span class='label label-success'>Profile</span><br/><p style='style='word-break:break-all;margin-top:5px;'>"+ data[i].description + "</p>"+
              "<div class='alert'><strong style='word-break:break-all;' class='"+ data[i].screen_name +"memoarea memoarea'>"+ note + "</strong></div>"+
            "<div align='right' style='margin: -10px -5px -15px -10px;'>" +
            "<p class='btn btn-info newmemo'><i class='icon-edit icon-white'></i> Memo</p></div></div>"); }
      loadingflag=0;
      $('#getjson .loading').remove();
      editassist();
	 });
  }
});

(function($) {
  var caretPos = function(pos) {
    var item = this.get(0);
    if (pos == null) {
      return get(item);
    }
    if (pos == "first") pos = 0;
    if (pos == "last") pos = this.val().length;
    set(item, pos);
    return this;
  };
  var get = function(item) {
    var CaretPos = 0;
    if (document.selection) { // IE
      item.focus ();
      var Sel = document.selection.createRange();
      Sel.moveStart ("character", -item.value.length);
      CaretPos = Sel.text.length;
    } else if (item.selectionStart || item.selectionStart == "0") { // Firefox, Chrome
      CaretPos = item.selectionStart;
    }
    return (CaretPos);
  };
  var set = function(item, pos) {
    if (item.setSelectionRange) {  // Firefox, Chrome
      item.focus();
      item.setSelectionRange(pos, pos);
    } else if (item.createTextRange) { // IE
      var range = item.createTextRange();
      range.collapse(true);
      range.moveEnd("character", pos);
      range.moveStart("character", pos);
      range.select();
    }
  };
  $.fn.extend({caretPos: caretPos});
})(jQuery);
</script> 
<div class="row">
  <div class="span6">
      <div id="getjson"></div>
  </div>
