body {
  background: #33b3d1; /* Old browsers */
  background: -moz-linear-gradient(left,#33b3d1 0%, #87ceeb 50%, #33b3d1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#33b3d1), color-stop(50%,#87ceeb), color-stop(100%,#33b3d1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,#33b3d1 0%,#87ceeb 50%,#33b3d1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #33b3d1 0%,#87ceeb 50%, #33b3d1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,#33b3d1 0%,#87ceeb 50%,#33b3d1 100%); /* IE10+ */
  background: linear-gradient(left,#33b3d1 0%,#87ceeb 50%,#33b3d1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b3d1', endColorstr='#33b3d1',GradientType=1 ); /* IE6-9 */
}
.content {
  	background-color: #fff;
   padding: 20px;
   margin: 0 -20px;
   	-webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
           border-radius: 0 0 6px 6px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.page-header {
   padding: 20px 20px 10px;
   margin: -20px -20px 20px;
}
.topbar .btn {
	border: 0;
}
