body {
  background:url(wood.jpg);
}
.content {
  	background-color: #fff;
   padding: 20px;
   margin-top:10px;
   margin-bottom:20px;
   	-webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
           border-radius: 0 0 6px 6px;
      -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.0);
      -moz-box-shadow: 0 0px 0px rgba(0,0,0,.0);
      box-shadow: 0 0px 0px rgba(0,0,0,.0);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
}
.headerarea {
  margin-bottom:10px;
}
.page-header {
  margin: 0px 0;
}
footer p {
  text-align: center;
}
.label a { color:#fff;text-decoration:none; }
.label a:hover { color:#fff;text-decoration:none; }
