<div id="modal-from-dom" class="modal hide fade">
	<div class="modal-header">
      <h3>About this service</h3>
 	</div>

   <div class="modal-body">
		<h4>Twitmemoについて</h4>
		<p>｢Twitmemo｣は自分がフォローした人への印象を書き残せるサービスです｡自分がフォローした理由､その人の印象をメモ｡すぐに見返せます｡自分がどう他人にメモされているのかチェックできます｡</p>
	</div>

  	<div class="modal-footer">
		<a href="#" id="modal_close" class="btn primary">OK</a>
   </div>
</div>
