<!-- sample modal content -->
<div id="modal-from-dom" class="modal hide fade">
	<div class="modal-header">
   	<a href="#" class="close">&times;</a>
      	<h3>About this service</h3>
 	</div>

   <div class="modal-body">
		<h4>Twitmemoについて</h4>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
		<p>TwitmemoはTwitterのフォロワー管理に特化したサービスです｡</p>
	</div>

  	<div class="modal-footer">
		<a href="#" id="modal_close" class="btn primary">OK</a>
   </div>
</div>
