  <div class="hero-unit">
    <h1>Twitmemo</h1>
    <p>｢Twitmemo｣は自分がフォローした人への印象を書き残せるサービスです｡自分がフォローした理由､その人の印象をメモ｡すぐに見返せます｡自分がどう他人にメモされているのかチェックできます｡</p>
    <p><%= link_to "Sign in with Twitter", 'auth/twitter' ,class:"btn primary large"%></p>
  </div>

  <div class="row">
    <div class="span7">
      <h2>What is Twitmemo?</h2>
      <p>｢Twitmemo｣は自分がフォローした人への印象を書き残せるサービスです｡自分がフォローした理由､その人の印象をメモ｡すぐに見返せます｡自分がどう他人にメモされているのかチェックできます｡</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>

    <div class="span6">
      <h2>How to use?</h2>
      <p>面倒なアカウント登録は一切必要ありません｡中央か右上の｢Login with Twitter｣ボタンを押すだけですぐにサービスを利用できます｡</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>

  </div>
