  <div class="hero-unit">
    <h1>Twitmemo</h1>
    <p>｢Twitmemo｣は自分がフォローした人への印象を書き残せるサービスです｡自分がフォローした理由､その人の印象をメモ｡すぐに見返せます｡自分がどう他人にメモされているのかチェックできます｡</p>
    <p><%= link_to "Login with Twitter", 'auth/twitter' ,class:"btn primary large"%></p>
  </div>

  <div class="row" style="margin-left:auto; margin-right:auto;">
    <div class="span6">
      <h2>Heading</h2>
      <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>

    <div class="span6">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante ve</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>

</div>
