<div id="my-modal" class="modal hide fade">
	<div class="modal-header">
   	<a href="#" class="close">&times;</a>
      <span id="twitter_icon" style="float:left;"></span>

      <div class="input-prepend" style="margin-left:5em;height:3em;padding-top:1em;">
      	<span class="add-on">@</span>
            <input type="text" id="input_screen_name" class="span6" style="height:2.2em;" placeholder="SCREEN NAME"/>
     	</div>
  </div>

  <div class="modal-body">
    <textarea class="xxlarge" id="input_note_area" raws="5" style="height:7em;"></textarea>
  </div>

  <div class="modal-footer">
    <span>
      <label style="width:6em;">
        <input type="checkbox" name="private" id="private"/>
          <span>非公開</span>
      </label>
    </span>
    <button id="send" data-loading-text="sending..." class="btn info loading">Memo</button>
	 </div>
</div>
