<div id="my-modal" class="modal hide">
	<div class="modal-header">
     <a href="#" class="close" data-dismiss="modal">&times;</a>
      <span id="twitter_icon" style="float:left;margin-left:20px;"></span>
      <div class="input-prepend" style="margin-left:8em;height:2.5em;padding-top:1em;">
      	<span class="add-on">@</span>
         <input type="text" maxlength="15" id="input_screen_name" class="span4" style="ime-mode:inactive" placeholder="SCREEN NAME"/>
      	</div>
  </div>

  <div class="modal-body" style="height:9em">
    <textarea id="input_note_area" raws="5" style="width: 520px;height:7em;margin-bottom:5px;" placeholder="フォローした理由は？"></textarea>
  <span id="charactersLeft" style="float:right;font-size:17px;">200</span>
  </div>

  <div class="modal-footer">
      <label  class="checkbox">
        <input type="checkbox" name="private" id="private"/><i class="icon-lock"></i> 非公開
      </label>
      <label  class="checkbox">
        <input type="checkbox" name="twitter" id="twitter"/><i class="icon-comment"></i> Twitterに投稿
      </label>

      <button id="send" data-loading-text="Sending..." class="btn btn-info loading" disabled="TRUE"><i class='icon-edit icon-white'></i> Memo</button>
  </div>
</div>
