<div class="span5">
  <h2>Menu</h2>
  <div class="well">
	 <%= form_tag(root_path, :method => :get) do %>
		<%= search_field_tag :keyword ,nil,:placeholder => "keyword"%>
	 <% end -%>
	 <ul>
		<li>test</li>
		<li>test</li>
		<li>test</li>
		<li>test</li>
		<li>test</li>
	 </ul>
  </div>
</div>
